.header.flex.justify-between.items-center.mb-10
  .name-and-author
    .text-3xl.font-bold
      = @task.name
  .action-btn
    = link_to new_submission_path(task_id: @task.id, version: :first) do
      .px-12.py-2.rounded-full.bg-gradient-to-br.from-teal-400.to-sky-700.text-white
        Nahrať
.description.mr-80
  = @task.description