%h1 Pages#home
%p Find me in app/views/pages/home.html.haml

- if user_signed_in?
  = button_to 'logout', destroy_user_session_path, method: :delete


%p
  \- nech ma trieda aj take nastavenia, ze ci sa da student pozyvat a ak ano, tak ako (ze moze byt aj uz aj uzamknute pridavanie alebo take daco)