%p#notice= notice

%p
  %b File:
  = link_to 'Download', rails_blob_path(@submission.file, disposition: "attachment")

%pre{ data: { controller: 'highlighter' } }
  %code
    = @submission.file.download


%p
  %b Version:
  = @submission.version